@font-face {
    font-family: logoFont;
    src: url(fonts/Norse-Bold.otf);
  }

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.left {
    width: 40%;
    background: no-repeat center url("images/background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 20vh;
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo > img {
    width: 100px;
}

.logo > div {
    color: white;
    font-family: logoFont;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 16px;
}

#recognition {
    color: white;
    text-align: center;
    margin-bottom: 1vh;
}

#recognition > a {
    color: white;
}

.right {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.top {
    font-size: 25px;
    font-weight: 600;
    padding-top: 100px;
    padding-left: 64px;
    padding-right: 200px;
    background-color: whitesmoke;
    flex: 1 1 30%;
}

.middle {
    padding-left: 64px;
    flex: 1 1 40%;
    margin-bottom: 10px;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
}

.middle > p:first-child {
    font-size: 23px;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    gap: 64px;
    flex-wrap: wrap;
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 300px;
}

label {
    font-size: 15px;
}

input {
    height: 30px;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
}

input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.1);
}

input.valid {
    border: 1px solid green;
}

input.invalid {
    border: 1px solid red;
}

/* Style for error messages */
.error {
    color: red;
}

.bottom {
    background-color: whitesmoke;
    flex: 1 1 30%;
    padding-top: 32px;
    padding-left: 64px;
}

.bottom > button {
    background-color: #596D48;
    color: whitesmoke;
    font-size: 20px;
    padding: 16px 50px;
    border-radius: 10px;
    border: 0;
}

.bottom > p {
    font-size: 20px;
}

.bottom > p > a {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}